<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlYKQq3Te7ok9VpV_TwSKnr7D9PtCk-N8</string>
	<key>GCM_SENDER_ID</key>
	<string>606299938771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameAdventure</string>
	<key>PROJECT_ID</key>
	<string>gamefirebaselogin</string>
	<key>STORAGE_BUCKET</key>
	<string>gamefirebaselogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606299938771:ios:309cf77eaf0886685f9926</string>
</dict>
</plist>